{% extends 'nanoitems/main.html'%}
{% block content %}
<div class="row">
      <div class="col-md">
        <div class="card card-body">
            <h5>Current and Upcoming promotions:</h5>
            <hr>
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'addpromotion' %}">Post Promotion</a>
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Promo Name</th>
                    <th>Category(type)</th>
                    <th>Status</th>
                    <th>Created Date</th>
                </tr>
                {% for i in promotions %}
                <tr>
                    <td>{{i.promo_name}}</td>
                    <td>{{i.category}}</td>
                     <td>{{i.status}}</td>
                    <td>{{i.date_created}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}